.btn {
  @apply inline-block rounded border border-transparent px-5 py-2 font-semibold capitalize transition;
}

/* Improve UX by darkening button on hover */
.btn:hover {
  filter: brightness(60%);
}

.btn-sm {
  @apply rounded-sm px-4 py-1.5 text-sm;
}

.btn-primary {
  @apply dark:text-text-dark text-white dark:bg-darkmode-primary;
  cursor: pointer;
}

.btn-outline-primary {
  @apply border-dark text-text-dark hover:bg-dark dark:hover:text-text-dark bg-transparent hover:text-white dark:border-darkmode-primary dark:text-white dark:hover:bg-darkmode-primary;
}

.banner-button {
  @apply rounded-full;
  width: 18rem;
  background-color: #FFF86B;
  color: black;
}